---
import { IAllCharacters } from '../types/characters';

import { Img } from "astro-imagetools/components";

import getCharacters from "src/lib/characters";

import Layout from '@layouts/Layout.astro';
import Navbar from '@components/Navbar.astro';
import Container from '@components/Container.astro';
import Hero from "@components/Hero.astro";

const { mainCharacters, aliensCharacters }: IAllCharacters = await getCharacters();
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <Hero />
	<main class="pt-6 pb-28">
    <Container>
      <div class="pt-96">
        <h2 class="font-mona text-7xl uppercase my-16">Main characters</h2>
        <div class="grid grid-cols-5 gap-10">
          {
            mainCharacters.map(({name, image}: {name: string, image: string}) => {
              return (
                <div>
                  <p>{name}</p>
                  <Img src={image} alt={name} width={300} height={300} placeholder="blurred" loading="lazy" />
                </div>
              )
            })
          }
        </div>

        <div class="my-10 inline-block"></div>

        <h2 class="font-mona text-7xl uppercase my-16">aliens</h2>
        <div class="grid grid-cols-5 gap-10">
          {
            aliensCharacters.map(({name, image}: {name: string, image: string}) => {
              return (
                <div>
                  <p>{name}</p>
                  <Img src={image} alt={name} width={300} height={300} placeholder="blurred" loading="lazy" />
                </div>
              )
            })
          }
        </div>
      </div>
    </Container>
	</main>
</Layout>
