---
// types
import { ICharacter } from '@localTypes/characters';
interface Props extends ICharacter {}

type TDetails = {
  [key: string]: string
}

// components
import { Img } from "astro-imagetools/components";
import CharacterStatus from './CharacterStatus.astro';

// code
const {
  image,
  name,
  status,
  species: specie,
  type,
  gender,
  origin: { name: origin = ''} = {},
  location: { name: location = ''} = {},
  episode = []
} = Astro.props;

const detailsProps: TDetails = {
  specie,
  type,
  gender,
  origin,
  location
};

---

<div class="grid grid-cols-1 gap-2 tablet:grid-cols-12 tablet:gap-4">
  <div class="tablet:col-span-4">
    <Img
    src={image}
    alt={name}
    width={300}
    height={300}
    placeholder="blurred"
    loading="lazy"
  />
  </div>
  <div class="tablet:col-span-8">
    <p class="pt-4 mb-3 text-4xl uppercase font-mona tablet:text-6xl tablet:pt-0">{name}</p>
    <CharacterStatus status={status} />
    <div class="mt-6">
      {
        Object.entries(detailsProps).map(([key, value]: [key: keyof TDetails, value: string]) => {
          return (
            value ? <p class="mb-1"><span class="text-2xl uppercase font-mona text-secondary">{key}:</span><span class="inline-block ml-2 text-xl text-accent">{value}</span></p> : null
          )
        })
      }
    </div>
    {
      episode.length > 0 ? <p class="mb-1">
        <span class="text-2xl uppercase font-mona text-secondary">Number of Episodes:</span>
        <span class="inline-block ml-2 text-xl text-accent">
          { episode.length }
        </span></p>
      : null
    }
  </div>
</div>
