---
// types
import { IAllCharacters, ICharacter } from '@localTypes/characters';
interface Props extends ICharacter {}
// libs
import getCharacters from "src/lib/characters";
// components
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import CharacterDetail from '@components/CharacterDetail.astro';

// code
export async function getStaticPaths() {
  const { mainCharacters, aliensCharacters }: IAllCharacters = await getCharacters();
  return [...mainCharacters, ...aliensCharacters].map((character: ICharacter) => ({
    params: {
      id: character.id.toString(),
    },
    props: character,
  }));
}

const {
  id,
  name,
  status,
  species,
  type,
  gender,
  origin,
  location,
  image,
  episode
}: ICharacter = Astro.props;
---

<Layout title="Astro Rick And Morty">
	<main class="pt-6 pb-28">
    <Container>
      <section class="pt-12">
        <div class="grid grid-cols-1 gap-2 desktop:grid-cols-12 desktop:gap-8">
          <div class="desktop:col-span-9">
            <CharacterDetail
              id={id}
              name={name}
              status={status}
              species={species}
              type={type}
              gender={gender}
              origin={origin}
              location={location}
              image={image}
              episode={episode}
            />
          </div>
          <div class="desktop:col-span-3">
            <div class="grid grid-cols-1 gap-1 tablet:grid-cols-2 tablet:gap-2 desktop:grid-cols-1">
              <div>ELEMENT 1</div>
              <div>ELEMENT 2</div>
            </div>
          </div>
        </div>
      </section>
    </Container>
	</main>
</Layout>
